@media screen and (max-width: 360px) {
    header{
        background-color: black;
        color: white;
        height: 68px;    
        display: block;
    }
    .txt{
        display: flex;
        justify-content: center;
        margin: 0 10px;
    }
    .navegacao nav{
        display: none;
    }
    .navegacao{
        margin: 0 10px;
    }
    .logo{
        width: 160px;
    }
    /************** AQUI COMEÇA A NAVEGAÇÃO ********************/
    /************* NAVEGAÇÃO MOBILE ***************************/
    .navegacao-android{
        display: block;       
    }
    /************** AQUI COMEÇA O BG ********************/
    .bg{
        margin: 0 auto;
        width: 90%;
        height: 433px;
        display: flexbox;
    }
    /************** SESSÃO 01 ********************/
    .container div{
        display: flex;
        flex-direction: column;
    }
    .container img{
        margin: 10px auto;
        width: 90%;
        height: 403px;
        border: 2px solid black;
        border-radius: 3%;
    }
   
}